/* h3 {
    position: center;
} */

/* .chart {
    text-align: left;
} */

/* .chart-1 {
    text-align: left !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: auto !important;
    right: auto !important;
    top: auto !important;
  } */

  /* .header-center {
    text-align: center;
    align-content: center;
    align-items: center!important;
    margin: center;
    position: center;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    transform: translate(32.5%, -25.5%);
  } */