.header-text {
    color: black;
    text-align: center;
}

.padded-header {
    position: relative;
    top: 76.5px;
}

p {
    width: auto;
    height: auto;
    text-align: center;
    text-align-last: center;
}

.bold {
    text-emphasis: bold;
}