.addApregButton {
        margin-top:3vh;
        text-align:center;
    }

.apregs {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-left:5vw;
        margin-right:5vw;
        font-family:arial;
    }

.icon--image {
        width: 50px;
        height: 50px;
    }

.card {
        display:flex;
        flex-basis:30%;
        margin-left:2px;
        margin-right:2px;
        width: 10rem;
    }

.card-title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

.card-link {
        margin: 12px 0 0 0;
        font-size: 0.7em;
    }

.card-body {
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }

h2 {
        text-align:center;
        margin-top:10vh;
    }

.apregForm {
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }