form {
        text-align:center;
        margin-top:10vh;
        font-family: Arial, Helvetica, sans-serif;
    }

section {
        text-align:center;
    }

label {
        margin-right:5px;
    }

input {
        margin-left:5px;
    }